<div class="d-flex justify-content-center bg-dark text-light">
 
    <form (ngSubmit)="submit()" #myForm="ngForm" class="justify-content-center vh-100">
        <h1>REGISTER</h1>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control " id="exampleInputEmail1" placeholder="Enter email"
           [(ngModel)]="form.email" name="email"  #email="ngModel" required>
        </div>
        <div [hidden]="email.valid">
          <span><p class="text-danger">Please enter valid email</p></span>
     </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" 
           [(ngModel)]="form.password" name="password" #password="ngModel" required>
        </div>
        <div [hidden]="password.valid">
          <span><p class="text-danger">Please enter valid password</p></span>
     </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" 
             [(ngModel)]="form.confirmPassword" name="password" #confirmPassword="ngModel" required>
          </div>
          <div [hidden]="confirmPassword.valid">
            <span><p class="text-danger">Please enter valid password</p></span>
       </div>
          <div>
            <button type="submit" class="btn btn-success" [disabled]="myForm.form.invalid">Submit</button>
          </div>
   
      </form>
</div>
